*.iml
.gradle
app/.cxx
app/build
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradlew
gradlew.bat
Filter/build

WifiTrackerLib/build
iconloaderlib/build
viewcapturelib/build
animationlib/build
Shell/build
animation/build
monet/build
plugin/build
plugin_core/build
shared/build
shared/biometrics/build
unfold/build
setupdesign/build
setupcompat/build
common/build
log/build
customization/build
SystemUI-res/build
lowlight/build
compose/core/build
compose/scene/build

SettingsLib/build
SettingsLib/Tile/build
SettingsLib/AdaptiveIcon/build
SettingsLib/RestrictedLockUtils/build
SettingsLib/HelpUtils/build
SettingsLib/SettingsTheme/build
SettingsLib/AppPreference/build
SettingsLib/SearchWidget/build
SettingsLib/SettingsSpinner/build
SettingsLib/LayoutPreference/build
SettingsLib/ActionButtonsPreference/build
SettingsLib/EntityHeaderWidgets/build
SettingsLib/BarChartPreference/build
SettingsLib/ProgressBar/build
SettingsLib/Utils/build
SettingsLib/ActionBarShadow/build
SettingsLib/search/build
SettingsLib/ActivityEmbedding/build
SettingsLib/BannerMessagePreference/build
SettingsLib/SettingsTransition/build
SettingsLib/CollapsingToolbarBaseActivity/build
SettingsLib/EmergencyNumber/build
SettingsLib/FooterPreference/build
SettingsLib/IllustrationPreference/build
SettingsLib/UsageProgressBarPreference/build
SettingsLib/TwoTargetPreference/build
SettingsLib/TopIntroPreference/build
SettingsLib/MainSwitchPreference/build
SettingsLib/ButtonPreference/build
SettingsLib/SelectorWithWidgetPreference/build
SettingsLib/DataStore/build
SettingsLib/DeviceStateRotationLock/build
SettingsLib/DisplayUtils/build
SettingsLib/ProfileSelector/build
